* { 
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

$font-stack: Avenir, sans-serif;

.wholePage { 
    width: 100%;
    height: 4350px;
    background: #FFFFFF;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.introBlock { 
    width: 100%;
    height: 754px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 240px;
    overflow: hidden;
}

.introPic { 
    width: 885px;
    height: 468px;
    background: url("./image1\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 286px;
    left: 363px;
    overflow: hidden;
}

.hero { 
    width: 645px;
    height: 464px;
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 0px;
    overflow: hidden;
}

.heroText { 
    width: 380px;
    color: #4B5D68;
    position: absolute;
    top: 234px;
    left: 0px;
    font-family: $font-stack;
    font-weight: Medium;
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
}

.heroBtn { 
    width: 170px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 404px;
    left: 0px;
    overflow: hidden;
}

.learnMoreBtn { 
    width: 170px;
    height: 60px;
    background: #9C69E2;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.btnText { 
    width: 96px;
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    left: 37px;
    font-family: $font-stack;
    font-weight: 800;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    background-color: transparent;
}

.titleText { 
    width: 645px;
    color: #212353;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    opacity: 1;
    text-align: left;
}

.navbar { 
    width: 100%;
    height: 60px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.navbarBtns { 
    width: 322px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 170px;
    overflow: hidden;
}

.abtBtn { 
    width: 53px;
    color: #212353;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 800;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 1;
    text-align: left;
}

.helpBtn { 
    width: 35px;
    color: #212353;
    position: absolute;
    top: 2px;
    left: 93px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 1;
    text-align: left;
}

.featureBtn { 
    width: 63px;
    color: #212353;
    position: absolute;
    top: 2px;
    left: 168px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 1;
    text-align: left;
}

.signBtn { 
    width: 51px;
    color: #212353;
    position: absolute;
    top: 2px;
    left: 271px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 1;
    text-align: left;
}

.demoBtn { 
    width: 210px;
    height: 60px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 910px;
    overflow: hidden;
}

.demoButton { 
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 5px 5px rgba(0.294063925743103, 0.3643835783004761, 0.405936062335968, 0.10000000149011612);
    overflow: hidden;
}

.requestBtn { 
    width: 152px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 29px;
    overflow: hidden;
}

.rectangle { 
    width: 112px;
    color: #212353;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 800;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.arrowContainer { 
    width: 20px;
  height: 14px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 132px;
  overflow: hidden;
}

.stick { 
    width: 14px;
    height: 5px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
    border: 2px solid #9C69E2;
}

.point { 
    width: 20px;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 0px;
    border: 2px solid #9C69E2;
}

.logoContainer { 
    width: 49px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 0px;
    overflow: hidden;
}

.purple { 
    width: 20px;
    height: 20px;
    background: #9C69E2;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.pink { 
    width: 20px;
    height: 35px;
    background: #F063B8;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 29px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.storageContainer { 
    width: 100%;
    height: 560px;
    opacity: 1;
    position: absolute;
    top: 903px;
    left: 240px;
    overflow: hidden;
}

.storageBox { 
    width: 100%;
    height: 560px;
    color: #F063B8;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.storageText { 
    width: 475px;
    height: 310px;
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 550px;
    overflow: hidden;
}

.storagePar { 
    width: 475px;
    color: #4B5D68;
    position: absolute;
    top: 140px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.storageTitle { 
    width: 475px;
    color: #212353;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}

.storagePic { 
    width: 477px;
    height: 504px;
    background: url("./image2\ .png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 11px;
    overflow: hidden;
}

.featuresContainer {
    width: 100%;
    height: 1026px;
    opacity: 1;
    position: absolute;
    top: 1613px;
    left: 220px;
    overflow: hidden;
}

.featuresHeader { 
    width: 548px;
    height: 160px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 287px;
    overflow: hidden;
}

.featuresTitle { 
    width: 405px;
    color: #212353;
    position: absolute;
    top: 0px;
    left: 89px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    opacity: 1;
    text-align: center;
}

.featuresPar { 
    width: 584px;
    color: #4B5D68;
    position: absolute;
    top: 102px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    opacity: 1;
    text-align: center;
}

.searchContainer { 
    width: 531px;
    height: 388px;
    opacity: 1;
    position: absolute;
    top: 229px;
    left: 19px;
    overflow: hidden;
}

.searchBox { 
    width: 442px;
    height: 358px;
    background: #68C9BA;
    opacity: .1;
    border-radius: 50px;
    top: 30px;
    left: 89px;
}

.lineThang { 
    width: 203.82px;
    height: 118.6px;
    left: 435px;;
    top: 227;
    border: 1.5px solid #FFFFFF;
    transform: rotate(-135deg);
    position: absolute;
}

.circleThang { 
    width: 33.7px;
    height: 19px;
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 382px;
    border: 1.5px solid #FFFFFF;
    transform: rotate(20.72deg);
}

.searchPic { 
    width: 232px;
    height: 211px;
    background: url("./image3\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 103px;
    left: 0px;
    overflow: hidden;
}

.searchPar { 
    width: 220px;
    color: #4B5D68;
    position: absolute;
    top: 149px;
    left: 261px;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 1;
    text-align: left;
}

.lrnMoreContainer { 
    width: 127px;
    height: 26px;
    opacity: 1;
    position: absolute;
    top: 329px;
    left: 261px;
    overflow: hidden;
}

.lrnMoreButton { 
    width: 87px;
    color: #212353;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 800;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
}

.searchArrow { 
    width: 20px;
    height: 14px;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 107px;
    overflow: hidden;
}

.searchArrow1 { 
    position: absolute;
    border: 2px solid #9C69E2;
    width: 14px;
    height: 5px;
    opacity: 1;
    top: 0px;
    left: 20px;
}

.searchArrow2 { 
    position: absolute;
    border: 2px solid #9C69E2;
    transform: rotate(90deg);
    box-sizing: border-box;
    width: 20px;
    top: 7px;
    left: 0px;
}

.searchTitle { 
    width: 200px;
    color: #212353;
    position: absolute;
    top: 79px;
    left: 261px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.printContainer { 
    width: 550px;
    height: 358px;
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 0px;
    overflow: hidden;
}

.printBox { 
    width: 442px;
    height: 358px;
    background: #F063B8;
    opacity: .1;
    border-radius: 50px;
}

.printPic { 
    width: 245px;
    height: 181px;
    background: url("./image5\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 0px;
    overflow: hidden;
}

.printPar { 
    width: 220px;
    color: #4B5D68;
    position: absolute;
    top: 119px;
    left: 280px;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.printLrnMore { 
    width: 127px;
    height: 26px;
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 280px;
    overflow: hidden;
}

.printLrnMoreBtn { 
    width: 87px;
    color: #212353;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: $font-stack;
    font-weight: 800;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.printTitle { 
    width: 200px;
    color: #212353;
    position: absolute;
    top: 49px;
    left: 280px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.accessContainer { 
    width: 544px;
    height: 394px;
    opacity: 1;
    position: absolute;
    top: 260px;
    left: 593px;
    overflow: hidden;
}

.accessBox { 
    width: 442px;
    height: 358px;
    background: #9C69E2;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    left: 102px;
}

.accessPic { 
    width: 241px;
    height: 185px;
    background: url("./image4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 0px;
    overflow: hidden;
}

.accessPar { 
    width: 220px;
    color: #4B5D68;
    position: absolute;
    top: 119px;
    left: 274px;
    font-family: $font-stack;
    font-weight: Book;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.accessTitle { 
    width: 200px;
    color: #212353;
    position: absolute;
    top: 49px;
    left: 274px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.securityContainer { 
    width: 539px;
    height: 364px;
    opacity: 1;
    position: absolute;
    top: 661px;
    left: 598px;
    overflow: hidden;
}

.securityBox { 
    width: 442px;
    height: 358px;
    background: #2D9CDB;
    opacity: 0.1;
    position: absolute;
    top: 6px;
    left: 97px;
}

.securityPic { 
    width: 230px;
    height: 201px;
    background: url("./image6\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 92px;
    left: 0px;
    overflow: hidden;
}

.securityPar { 
    width: 220px;
    color: #4B5D68;
    position: absolute;
    top: 125px;
    left: 269px;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.securityTitle { 
    width: 200px;
    color: #212353;
    position: absolute;
    top: 55px;
    left: 269px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}